:root{
    --tran-fast: 0.5s ease all;
    --tran-medium: 1.5s ease all;
    --tran-slow: 3s ease all;
    --black-primary: #161616;
    --black-button: #161a20;
    --black-article: #333;
    --black-transparent: rgba(0, 0, 0, 0.8);
    --white-color: #f0f0f0;
    --border-radius-article: 12px;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--black-primary);
}

/* ################################### estilos generales ###################################*/

/* botones de linkedin, mail y github */
.social-media-button{
    width: 64px;
    height: 64px;
    border-radius: 50px;
    border: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease, height 0.5s ease;
}

.social-media-button::after{
    content: '';
    position: absolute;
    height: 107%; /* agrandar width y height para que linear-gradient sobresalga por detras del boton*/
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index: -1; /* este contenedor aparecera detras del boton */
    opacity: 0;
}

.social-media-button img{
    width: 100%;
    position: relative;
    z-index: 1;
}

.social-media-button:hover::after{
    opacity: 1;
}

/* efectos neon */

.neon-white::after{
    content: '';
    position: absolute;
    height: 107%; /* agrandar width y height para que linear-gradient sobresalga por detras del boton*/
    width: 102%;
    border-radius: 1000px;
    background-image: var(--white-color);
    z-index: -1; /* este contenedor aparecera detras del boton */
    opacity: 0;
}

.neon-white img{
    width: 100%;
    position: relative;
    z-index: 1;
}

.neon-white:hover::after{
    opacity: 1;
}

/* capa superior, botones inicialmente en negro */
.custom-button{
    padding: 1em 2em;
    background-color: var(--black-button);
    border: none;
    color: var(--white-color);
    border-radius: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease, height 0.5s ease;
}

/* capa inferior, para que el boton simule un border con linear-gradient */
.custom-button::after{
    content: '';
    position: absolute;
    height: 107%; /* agrandar width y height para que linear-gradient sobresalga por detras del boton*/
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index: -1; /* este contenedor aparecera detras del boton */
}

.custom-button:hover{
    z-index: 1; /* para visualizar todo el boton con linear-gradient */
    box-shadow: 40px 0 100px #008cff, -40px 0 100px #e100ff;

}

/* efecto luz neon*/
.light-button:hover{
    box-shadow: 40px 0 100px #008cff, -40px 0 100px #e100ff;
}

/*############################ estilos elementos luminosos ############################*/

.glow-element::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black-article);
    left: 0;
    top: 0;
    border-radius: 10px;
}

.glow-element::before{
    content: "";
    position: absolute;
    background-image: linear-gradient(45deg ,#ff0000 ,#ff7300 
                                    ,#fffb00 ,#48ff00 ,#00ffd5
                                    ,#002bff ,#ff00c8, #ff0000 );
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity 0.5s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing{
    0%{background-position: 0 0;}
    50%{background-position: 400% 0;}
    100%{background-position: 0 0;}
}

.transparent-element:active::after{
    background: transparent;
}

.transparent-element:active{
    color: #000;
    font-weight: bold;
}

/*################################# estilos elementos glow-red #############################*/

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/*glow-circle hace alusion a la animacion, gira en circulos*/
/*glow-circle es la clase que deberá adquirir el elemento html*/
.glow-circle::after, .glow-circle::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%; /* centra el cuadro rojo*/
    z-index: -1; /* cuadro rojo por debajo*/
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
    opacity: 0;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

/*################################### Estilos de diferentes efectos glow ##################*/
/* clases que le dan colores a los bordes de los elementos que adquieran glow-circle*/
/* naranja de una linea de contorno */
.glow-orange:hover::before{
    background-image: conic-gradient(from var(--angle), transparent, orange);
    opacity: 1;
    filter: blur(0.5rem);
}

/* rojo de dos lineas de contorno */
.glow-red:hover::before{
    background-image: conic-gradient(from var(--angle), transparent, red, transparent,
                                                        red, transparent);
    opacity: 1;
    filter: blur(0.5rem);
}

/* celeste de tres lineas de contorno */
.glow-sky:hover::before{
    background-image: conic-gradient(from var(--angle), transparent,#00ffd5, transparent,
                                                        #00ffd5, transparent,#00ffd5, transparent);
    opacity: 1;
    filter: blur(0.5rem);
}

.glow-white:hover::before{
    background-image: conic-gradient(from var(--angle), transparent, var(--white-color), transparent,
                                                        var(--white-color), transparent, var(--white-color),
                                                        transparent, var(--white-color));
    opacity: 1;
    filter: blur(0.5rem); 
}

/* multicolor */
.glow-rainbow:hover::before{
    background-image: conic-gradient(from var(--angle) ,#ff0000 ,#ff7300 
                                    ,#fffb00 ,#48ff00 ,#00ffd5
                                    ,#002bff ,#ff00c8, #ff0000 );
    opacity: 1;
    filter: blur(0.5rem);
}

/*#################################### estilos para header #################################*/
.header{
    width: 100%;
    height: 100vh;
    color: white;
    transition: height 0.5s ease;
    z-index: 100;/* situado por arriba de los demas elementos*/
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #0e4674, #4b0a80);
}

.header-container{
    width: 100%;
    height: 100vh;
    transition: height 0.5s ease;
    display: flex;
    flex-direction: column;
}

/* contenedor de titulo, subtitulo y botones de redes sociales */
#title{
    width: 100%;
    height: 40vh;
    flex: 1 1 50%; /* Base 50%, crece y se achica */
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} 

#title h1 {
    font-size: 3em;
    margin: 0;
    width: 100%;
    text-align: center;
    transition: width 0.5s ease, height 0.5s ease;
}

#title h2 {
    font-size: 1.5em;
    margin: 0.5em 0 0;
    width: 100%;
    text-align: center;
    transition: width 0.5s ease, height 0.5s ease;
}

/* contenedor de botones */
#contact-buttons{
    width: 50%;
    height: 10vh;
    transition: width 0.5s ease, height 0.5s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* contenedor de imagen */
#image-header{
    width: 100%;
    height: 45vh;
    flex: 1 1 50%; /* Base 50%, crece y se achica */
    transition: all 0.5s ease;
}

#image-header img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para llenar su contenedor */
    transition: width 0.5s ease, height 0.5s ease;
}

#button-container{
    width: 100%;
}

.open-page, .close-page {
    z-index: 0;
    border: none;
    padding: 15px 40px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, #0e4674, #4b0a80);
}

/* trapecio */
.open-page{
    position: relative;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.trapecio-wrapper{
    position: relative;
    bottom: 0;
    left: 45%;
    width: 10%;
    height: 5%;
    transition: filter 0.5s ease;
}

.trapecio-wrapper:hover {
  filter: drop-shadow(0 0 8px white);
}

/* trapecio invertido */
.close-page{
    position: relative;
    top: -5vh;
    display: none;
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
    width: 10%;
    height: 5%;
}

.header.animated-header .open-page{
    display: none;
}

.header.animated-header .close-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}




/* animaciones del header, agrega clase ".animated-header" desde js y cambia estilos */ 
.header.animated-header{
    height: 10vh;
    flex-direction: row;
    flex-wrap: wrap;
}

.header.animated-header .header-container{
    height: 10vh;
    display: flex;
    flex-direction: row;
}

.header.animated-header #title{
    width: 30%;
    height: 10vh;
    align-items: center;
}

.header.animated-header #title h1{
    width: 60%;
    max-height: fit-content;
}

.header.animated-header #title h2{
    display: none;
}

.header.animated-header #contact-buttons{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.header.animated-header .social-media-button{
    width: 32px;
    height: 32px;
}

.header.animated-header #cv{
    height: 32px;
    padding: 1em;
}

.header.animated-header #image-header{
    width: 30%;
    height: 10vh;
}

/* menu vertical de navegacion*/
.menu{
    width: 100%;
    height: 5vh;
    display: none;
    margin: 0;
    transition: all 5s ease;
}

.header.animated-header .menu{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: var(--black-transparent);
}

.menu ul{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
}

.menu ul li{
    text-align: center;
    padding: 1%;
    list-style: none;
    transition: background-color 0.3s ease;
}

.menu ul li:hover{
    background-color: #223755;
}

.menu ul li a{
    position: relative;
    display: inline-block;
    color: var(--white-color);
    text-decoration: none;
    transition: color 0.3s ease;
    width: 100%;
}

.menu ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: var(--white-color);
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

.menu ul li a:hover::after {
    width: 100%;
}

/* ############################ estilos parte central de la pagina ######################### */

/* contenedor central*/
#main-container{
    width: 100%;
    height: auto;
    position: relative;
    top: 15vh;
    left: 0;
    padding-bottom: 10vh; /* 5% del alto del footer + 1% del padding superior e inferior del footer + 1% para separarlo un poco mas*/
    transition: all 0.5s ease;
    display: none;
}

#main-container.animated-container{
    display: block;
}

#section-container{
    width: 100%;
}

/* seccion principal */
.section{
    width: 100%;
    /*background-color: blueviolet;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    scroll-margin-top: 10vh;
    padding-top: 3vh;
}

.section h1{
    width: 100%;
    text-align: center;
    color: #f0f0f0;
}

/*################################ card-article styles ######################*/
.card-article{
    width: 30%;
    background-color: var(--black-article);
    border-radius: var(--border-radius-article);
    color: var(--white-color);
    margin: 1%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card-article h2{
    width: 100%;
    margin-bottom: 0;
    text-align: center;
}

.card-article img{
    width: 64px;
    height: 64px;
}

.card-article p{
    width: 68%;
    padding: 1%;
    text-align: center;    
}

/* estilos articulos de skills */
.dev-article{
    background-color: var(--black-article);
    border-radius: var(--border-radius-article);
    color: var(--white-color);
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 128px;
    position: relative;
}

/* estilos articulos de proyectos */
.card-proyect{
    width: 30%;
    background-color: var(--black-article);
    border-radius: var(--border-radius-article);
    color: var(--white-color);
    margin: 1%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.card-proyect .img-content{
    width: 100%;
    padding-bottom: 1em;
}

.card-proyect .img-content img{
    width: 100%;
    border-radius: var(--border-radius-article) var(--border-radius-article) 0 0; /* esquinas superiores redondeadas*/
}

.card-proyect h2{
    width: 100%;
    text-align: center;
    margin: 0;
}

.card-proyect p{
    width: 100%;
    margin: 0;
    padding: 1em;
}

/* contenedor de botones del articulo de proyecto*/
.proyect-buttons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 1em;
}

/* aplicado a cada boton del articulo de proyecto */
.proyect-buttons a{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
    padding: 1%;
    background-color: var(--black-button);
    cursor: pointer;
}

/* aplicado al icono del boton */
.proyect-buttons a img{
    width: 30%; /* ancho necesaro para que el <p> pueda ubicarse a la derecha */
    max-width: 32px; /* ancho maximo */
}

/* aplicado al texto del boton */
.proyect-buttons a p{
    width: 70%;
    padding: 0;
    text-align: center;
}

.comment-container{
    width: 80%;
    color: var(--white-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comment-container h2{
    width: 100%;
}

.form-comment{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-comment label, .form-comment input{
    margin: 1%;
}

.new-comment{
    width: 70%;
}

.comments, .comment, .user-info, .text-comment{
    width: 100%;
}

.user-info{
    display: flex;
    flex-wrap: wrap;
}

.user-info p{
    width: 30%;
}

.footer{
    width: 100%;
    height: 5vh;
    background-color: var(--black-transparent);
    color: white;
    margin: 0;
    padding: 1%;
    position: fixed;
    bottom: 0;
    z-index: 90;
}